body{
    background-color: lightseagreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

h1{
    padding: 2vw;
    font-size: 4em;
    white-space: pre-wrap;
    display: center;
}

h2{
    font-size: 1em;

}
button{
    font-size: 20px;
    display: block;
    max-width: 150px;
    max-height: 150px;
    margin: auto;
    color: black;
    background: lightcyan;
    cursor: pointer;
    border-radius: 2px;
    padding: 10px;
    box-shadow: rgb(0, 99, 99);
}
button:hover{
    background-color: darkslategrey;
    color: whitesmoke;
}
#clickButtonArea{
    display: flex;
    justify-content: space-around;
}